@font-face {
    font-family: tehran;
    src: url(  'http://www.melkomalek.ir/public/fonts/Tehran.ttf' );
font-weight: normal;
}

@font-face {
    font-family: tehran;
    src: url(  'http://www.melkomalek.ir/public/fonts/Yekan.ttf' );
font-weight: normal;
}

